html,
body,
div {
  padding: 0;
  margin: 0;
}
i {
  font-size: 4em !important;
  margin-top: 10%;
  color: black;
}

h1 {
  padding-top: 30px;
  color: white !important;
}

h2 {
  color: white;
}

.intro {
  height: auto;
  min-height: 40vh;
  text-align: center;

}
#virus {
    width: 100%;
    height: 150vh;
}

.gap h1{
  padding-top: 9rem;
  border-bottom: 2px solid white;
}